<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Prueba Capacitor Youtube Plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <!-- The <iframe> (and video player) will replace this <div> tag. -->
    <div id="youtube-player"></div>
  </ion-item>
  <br>
  <ion-item>
    <!-- The <iframe> (and video player) will replace this <div> tag. -->
    <div id="youtube-player1"></div>
  </ion-item>
  <ion-item>
    <ion-button color="primary" (click)="getPlayersEventsStatePluginWeb()">Get all players state</ion-button>
  </ion-item>
</ion-content>
